<h2><u>Contact us</u></h2>


<ol>


   <p><b><font color="blue">Blogger Developer:-</font></b></u></p>
  <h3> <p><b><font color="blue">Sandeep Kumar:-</font></b></p></h3>
   <p><font color="blue">Email id :-<font color="black"><br>            

       sandeeproniyaar@gmail.com<br/> 
                                        

   <p><font color="blue">Permanent Address :- <font color="black">
   <br> Sandeep Kumar <br/>                         
S/o Sri Lal Babu Gupta<br/>
Sindhuatoli,Belwarganj,<br/>
Patna-800007,<br/>
Thana –Alamganj<br/>
Post-Gulzarbagh <br/>  
(BIHAR)<br/>
</font></p>
   	<p><font color="">Current Address :-<font color="black">
    <br> #118,Tara Mansion,6th Cross,<br/>
     Dasharhali main road,<br/>
     Hebbal, Bangalore<br/>
     (Karnatka)<br/>
     PIN-560024<br/>
  	 India</font>
   	<br/>
<br/>

<br/>
<br/>

<br/>
<br/>




</ol>
<%= link_to 'Home',{:action=>'index', :controller=>'articles'}%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to " Create New Article", new_article_path, :class => "new_article" %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to 'Blogger Information', :action=>'blogger_information'%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to 'Dominus', :action=>'me_us'%>

